# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Database
db.sqlite3

# Media
media/

# Static files
staticfiles/

# Environment Variables
.env

# VS Code
.vscode/

# Mac
.DS_Store